.Rproj.user
.Rhistory
.RData
.Ruserdata
*.docx
!AGU_Manuscript_template.docx
*.html
*.Rproj
wq_methods_F_model_sampling_with_Xpred_backup.Rmd
data/*.rda
data/*.gpkg
data/*.xlsx
!data/all_models.xlsx
!data/loo_sum.xlsx
data/*.csv
!data/mod_summ.csv
!data/coeffs_8vars.csv
!data/comparisons.csv
compiled_models/*